openapi: 3.0.0
info:
  title: openweathermap
  version: '1.0'
  contact:
    name: Support
    url: 'https://openweathermap.org/api'
    email: some_email@gmail.com
  termsOfService: 'https://openweathermap.org/terms'
  license:
    name: CC Attribution-ShareAlike 4.0 (CC BY-SA 4.0)
    url: 'https://openweathermap.org/price'
  description: 'Get the current weather, daily forecast for 16 days, and a three-hour-interval forecast for 5 days for your city. Helpful stats, graphics, and this day in history charts are available for your reference. Interactive maps show precipitation, clouds, pressure, wind around your location stations. Data is available in JSON, XML, or HTML format. **Note**: This sample Swagger file covers the `current` endpoint only from the OpenWeatherMap API. <br/><br/> **Note**: All parameters are optional, but you must select at least one parameter. Calling the API by city ID (using the `id` parameter) will provide the most precise location results.'
servers:
  - url: 'https://api.openweathermap.org/data/2.5'
    description: prod
paths:
  /weather:
    get:
      summary: weather
      tags:
        - Weather endpoints
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  coord:
                    type: object
                    properties:
                      lon:
                        type: number
                        example: 145.77
                        description: 'City geo location, longitude'
                      lat:
                        type: number
                        example: -16.92
                        description: 'City geo location, latitude'
                  cod:
                    type: number
                    example: 200
                    description: Internal parameter
                  name:
                    type: string
                    example: Cairns
                    description: Name
                  id:
                    type: number
                    example: 2172797
                    description: City ID
                  timezone:
                    type: number
                    description: the timezone for the station
                    example: '-28800'
                  sys:
                    type: object
                    properties:
                      type:
                        description: Internal parameter
                        example: '1'
                        type: number
                      id:
                        type: number
                        example: 8166
                        description: Internal parameter
                      country:
                        type: string
                        example: AU
                        description: '''Country code (GB, JP etc.)'''
                      sunrise:
                        type: number
                        example: 1435610796
                        description: '''Sunrise time, unix, UTC'''
                      sunset:
                        type: number
                        example: 1435650870
                        description: '‘Sunset time, unix, UTC’'
                  dt:
                    type: number
                    example: 1435658272
                    description: '''Time of data calculation, unix, UTC'''
                  clouds:
                    type: object
                    properties:
                      all:
                        type: number
                        example: '75'
                        description: '''Cloudiness, %'''
                  wind:
                    type: object
                    properties:
                      speed:
                        type: number
                        description: '‘Wind speed. Unit Default: meter/sec, Metric: meter/sec, Imperial: miles/hour.’'
                        example: 5.1
                      deg:
                        type: number
                        description: '''Wind direction, degrees (meteorological)’'
                        example: 150
                      visibility:
                        type: number
                        description: '‘Visibility, meter’'
                        example: 16093
                  main:
                    type: object
                    properties:
                      temp:
                        type: number
                        description: '‘Temperature. Unit Default: Kelvin, Metric: Celsius, Imperial: Fahrenheit.’'
                        example: 293.25
                      feels_like:
                        type: number
                        description: What the weather feels like despite the actual numbers
                        example: 41.16
                      temp_min:
                        type: number
                        description: '‘Minimum temperature at the moment. This is deviation from current temp that is possible for large cities and megalopolises geographically expanded (use these parameter optionally). Unit Default: Kelvin, Metric: Celsius, Imperial: Fahrenheit.’'
                        example: 289.82
                      temp_max:
                        type: number
                        description: '‘Maximum temperature at the moment. This is deviation from current temp that is possible for large cities and megalopolises geographically expanded (use these parameter optionally). Unit Default: Kelvin, Metric: Celsius, Imperial: Fahrenheit.’'
                        example: 295.37
                      pressure:
                        type: number
                        description: '‘Atmospheric pressure (on the sea level, if there is no sea_level or grnd_level data), hPa’'
                        example: 1019
                      humidity:
                        type: number
                        description: '‘Humidity, %’'
                        example: 83
                  base:
                    type: string
                    description: Internal parameter
                    example: cmc stations
                  weather:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: number
                          description: Weather condition id
                          example: '''803'''
                        main:
                          type: string
                          description: '‘Group of weather parameters (Rain, Snow, Extreme etc.)’'
                          example: clouds
                        description:
                          type: string
                          description: Weather condition within the group
                          example: broken clouds
                        icon:
                          type: string
                          description: Weather icon id
                          example: 04n
              examples:
                Example:
                  value:
                    coord:
                      lon: 145.77
                      lat: -16.92
                    cod: 200
                    name: Cairns
                    id: 2172797
                    timezone: '-28800'
                    sys:
                      type: '1'
                      id: 8166
                      country: AU
                      sunrise: 1435610796
                      sunset: 1435650870
                    dt: 1435658272
                    clouds:
                      all: '75'
                    wind:
                      speed: 5.1
                      deg: 150
                      visibility: 16093
                    main:
                      temp: 293.25
                      feels_like: 41.16
                      temp_min: 289.82
                      temp_max: 295.37
                      pressure: 1019
                      humidity: 83
                    base: cmc stations
                    weather:
                      - id: '''803'''
                        main: clouds
                        description: broken clouds
                        icon: 04n
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized_response'
      operationId: get-weather
      description: 'Access current weather data for any location on Earth including over 200,000 cities! Current weather is frequently updated based on global models and data from more than 40,000 weather stations.'
      security:
        - app_id: []
      parameters:
        - schema:
            type: string
          in: query
          name: zip
          description: '**Zip code**. Search by zip code. *Example: 95050,us*. Please note that if the country is not specified, the search uses USA as a default.'
          required: true
        - schema:
            type: string
            default: standard
            enum:
              - standard
              - metric
              - imperial
          in: query
          description: '**Units**. *Example: imperial*. Possible values: `standard`, `metric`, and `imperial`. When you do not use the `units` parameter, the format is `standard` by default.'
          name: units
          required: true
        - schema:
            type: string
          in: query
          name: q
          description: '**City name**. *Example: London*. You can call by city name, or by city name and country code. The API responds with a list of results that match a searching word. For the query value, type the city name and optionally the country code divided by a comma; use ISO 3166 country codes.'
        - schema:
            type: string
          in: query
          name: id
          description: '**City ID**. *Example: `2172797`*. You can call by city ID. The API responds with the exact result. The List of city IDs can be downloaded [here](http://bulk.openweathermap.org/sample/). You can include multiple cities in this parameter — just separate them by commas. The limit of locations is 20. *Note: A single ID counts as a one API call. So, if you have city IDs, it’s treated as 3 API calls.*'
        - schema:
            type: string
          in: query
          name: lat
          description: '**Latitude**. *Example: 35*. The latitude coordinate of the location of your interest. Must use with `lon`.'
        - $ref: '#/components/parameters/lon'
components:
  parameters:
    lon:
      name: lon
      in: query
      description: '**Longitude**. *Example: 139*. Longitude coordinate of the location of your interest. Must use with `lat`.'
  schemas:
    User:
      title: User
      type: object
      description: ''
      x-examples:
        Alice Smith:
          id: 142
          firstName: Alice
          lastName: Smith
          email: alice.smith@gmail.com
          dateOfBirth: '1997-10-31'
          emailVerified: true
          signUpDate: '2019-08-24'
      properties:
        id:
          type: integer
          description: Unique identifier for the given user.
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
          format: email
        dateOfBirth:
          type: string
          format: date
          example: '1997-10-31'
        emailVerified:
          type: boolean
          description: Set to true if the user's email has been verified.
        createDate:
          type: string
          format: date
          description: The date that the user was created.
      required:
        - id
        - firstName
        - lastName
        - email
        - emailVerified
    unauthorized_response:
      title: 401
      type: object
      properties:
        cod:
          type: integer
        message:
          type: string
      required:
        - cod
        - message
  securitySchemes:
    app_id:
      name: appid
      type: apiKey
      in: query
